.comment
  clear both
  p.title
    font-size 22px
    line-height 2em
    position relative
    color #333
  .ico-comment:before
    content "\f086"
    position absolute
    left -54px
    font 32px FontAwesome
    color #333
    top 10px
