// Color
color-background = #f0f0f0
color-font = #666
color-meta = #999
color-border = #ddd
color-link = #1ba1e2

// Font
font-default = "Microsoft YaHei", tahoma,sans-serif
font-serif = "Georgia", tahoma,sans-serif
font-mono = Monaco,Consolas,"Lucida Console",monospace
font-title = "Microsoft YaHei", tahoma,sans-serif

@import url("//fonts.useso.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
