<% if (theme.duoshuo && page.comments){ %>
<div class="border"></div>
<section class="comment">
    <p class="title ico-comment">文章评论<a name="comments"></a></p>
    <div class="ds-thread" data-title="<%= item.title %>"></div>
</section>
<% } %>
